@use 'mixin.scss' as m;

/* about */
.about {
    width: 100%;
    background: #111;
    color: #fff;
    
    
    padding: 2rem 4rem;
    @media (max-width: 798px) {
      padding:  1.2rem 1rem;
    }

    h2 {
        @include m.h2;
    }
    h3 {
        @include m.h3;
    }

    .about-grid {
        /* display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
        width: 100%;
        text-align: center;

        
        &__right {
            width: 100%;

            p {
                @include m.p;
                text-align: left;
                background: #151515;
                padding: 15px 10px;
                border-radius: 11px;
            }

            .prove {
                display: none;
                justify-content: space-between;
                flex-flow: row wrap;
                margin: 15px auto;
                gap: 1rem;
                
                h4 {
                    display: inline;
                    padding: 10px 5px;
                    margin: 5px;
                    border: 2px solid gray;
                    border-radius: 11px;
                    font-size: clamp(0.68rem, 0.666rem + 0.072vw, 0.75rem);
                    font-weight: 550
                }
            }

            button {
                @include m.btn;
                margin: 15px auto;

                .icon-d {
                    vertical-align: middle;
                    color: #fff;
                    transition: .500s ease-in-out;
                }
                

                &:hover {
                    @include m.btn-hover
                }
                &:hover .icon-d , &:focus .icon-d {
                    rotate: 360deg;
                    margin-left: 5px;
                }
            }
        }
    }
}