@use 'mixin.scss' as m;

/* about */
.about {
    width: 100%;
    background: #111;
    color: #fff;
    
    
    padding: 2rem 4rem;
    @media (max-width: 798px) {
      padding:  1.2rem 1rem;
    }

    h2 {
        @include m.h2;
    }
    h3 {
        @include m.h3;
    }

    .about-grid {
        display: grid;
        width: 100%;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        &__left {
            width: 100%;
            figure {
                width: 100%;
                overflow: hidden;
                height: auto;
                

                img {
                    width: 100%;
                    transition: .752s ease-in-out;
                    height: 80vh;
                    border-radius: 10px;
                        @media (max-width: 498px) {
                            width: 100%;
                            height: 50vh;
                        }
                }
               
            }
            figure:hover img{
                 scale: 1.2;
                 cursor: grab;
            }
        }
        &__right {
            width: 100%;
            
            h3 {
                text-align: left;
                color: rgb(41, 40, 40);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                letter-spacing: .1em;
                font-size: clamp(1.2rem, 1.138rem + 0.308vw, 1.5rem);
            }

            p {
                @include m.h4;
                text-align: justify;
            }

            .prove {
                display: none;
                justify-content: space-between;
                flex-flow: row wrap;
                margin: 15px auto;
                gap: 1rem;
                
                h4 {
                    display: inline;
                    padding: 10px 5px;
                    margin: 5px;
                    border: 2px solid gray;
                    border-radius: 11px;
                    font-size: clamp(0.68rem, 0.666rem + 0.072vw, 0.75rem);
                    font-weight: 550
                }
            }

            button {
                @include m.btn;
                margin: 15px auto;

                .icon-d {
                    vertical-align: middle;
                    color: #fff;
                    transition: .500s ease-in-out;
                }
                

                &:hover {
                    @include m.btn-hover
                }
                &:hover .icon-d , &:focus .icon-d {
                    rotate: 360deg;
                    margin-left: 5px;
                }
            }
        }
    }
}