
/* button */

@mixin btn {
    padding: 10px 25px;
    background: rgb(255, 100, 0);
    border: none;
    font-size: clamp(0.888rem, 0.834rem + 0.269vw, 1.15rem);
    border-radius: 6px;
    color: aliceblue;
    transition: .400s ease-in;
}

/* button hover */

@mixin btn-hover {
    background: rgb(190, 81, 8);
    cursor: pointer;
    color: #f4eded;
}

@mixin h2 {
    font-size: clamp(1.55rem, 1.407rem + 0.717vw, 2.25rem);
    font-weight: 650;
    text-align: center;
    margin: 20px auto;
}

@mixin h3 {
    font-size: clamp(0.85rem, 0.77rem + 0.4vw, 1.24rem);
    color: gray;
    font-weight: 550;
    text-align: center;
    margin: 10px auto;
}

@mixin h4 {
    font-size: clamp(0.81rem, 0.741rem + 0.348vw, 1.15rem);
    color: rgb(246, 235, 235);
    font-weight: 550;
    margin: 10px auto;
}

@mixin p {
    font-size: clamp(0.88rem, 0.804rem + 0.379vw, 1.25rem);
    color: gray;
    font-weight: 550;
    margin: 8px auto;
}



